.container {
    width: 940px;
    margin: auto;
    background-color: #ffffff;
}
header {
    background: linear-gradient(#d5d5d5, #fff, #fff, #fff);
    padding: 37px 15px 24px 15px;
}
#menu { 
    float: right;
    padding: 23px 0 0 0; 
}
#menu li { 
    display: inline-block;
    font: .7em Tahoma;
    color: #b7b7b7;
    padding: 0 10px 7px 10px;
    border-left: 1px dotted #d6d6d6;
}
#menu li a { 
    display: block;
    font: bold .9rem Georgia;
    text-transform: uppercase;
    color: #666;
}
main {
    height: 1280px;
    background: #fff url('../img/mainbg.jpg') repeat-x;
    padding: 22px 0;
}
#slider {
    height: 340px;
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    background: url('../img/slider1.jpg') center;
    box-shadow: 0 1px 10px #333;
}
h1 {
    font: bold 1.5em Georgia;
    color: #000;
    text-align: center;
    margin: 22px 0 15px 0; 
}
h2 {
    font: 1.3em Georgia;
    letter-spacing: 1px;
    color: #11719e;
}
h6 {
    font: 0.75em Helvetica;
    color: #8c8c8c;
}
hr {
    border: none;
    border-bottom: 1px solid #e5e5e5;
}
.row::after { 
    content: '';
    display: table; 
    clear: both;
}
.col {
    width: 33.33%;
    float: left;
    padding: 35px 0;
}
.artFirst p {
    font: .8em/1.2em Helvetica;
    letter-spacing: 1px;
    color: #3e3e3e;
}
.artFirst img {
    padding: 7px;
    background: #f3f3f3;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin: 18px 0
}
.btn1 {
    width: 163px;
    padding: 10px 15px;
    font: .8em Helvetica;
    color: #016999;
    text-align: left;
    background: linear-gradient(to right, #e8e8e8, #f5f5f5, #e8e8e8, #eee);
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    margin-top: 20px;
}
.btn1 span, .btn2 span { float: right}

.styleH2{
    font-size: 1.125em  Georgia;
    color: #444444;
    letter-spacing: 0;
}

.col p {
    font: 12px Helvetica;
    color: #444444;
}

.col hr{
    border-top: 1px dashed #d3d3d3;
    border-bottom: none;
    width: 294px;
    margin-left: 0;
}

textarea{
    padding: 14px;
    max-height: 134px;
    min-height: 134px;
    max-width: 296px;
    min-width: 296px;
    font: .625em/.875rem Verdana;
    color: #d4d4d4;
}

.photos img{
    margin: 10px 12px 40px 0px;
    width: 47px;
    height: 47px;
    border-radius: 7px;
    box-shadow: 1.5px 2px 3px #c3b6b3;
}

#nl{
    line-height: 14px;
    color: #444444;
    font-weight: bold;
    font-family: "Gill Sans Nova Heavy";
    letter-spacing: 0;
}

input{
    border: 1px solid #cfcfcf;
    width: 296px;
    height: 33px;
    border-radius: 3px;
    padding: 14px;
    font: .625em/.875rem Verdana;
    color: #d4d4d4;
}

.btn2{
    width: 163px;
    border-radius: 4px;
    margin-top: 11px;
    color: #f8fafb;
    border: 1px solid #004a80;
    background: linear-gradient(to right, #4b82be, #4b82be, #4b82be, #406e9b);
    padding: 10px 15px;
    font: .8em Georgia;
    text-align: left;
}

#bt{
    margin-top: 6px;
}

.margin16{
    margin: 0px 0px 16px 0px;
}

.lastArt{
    margin: 0px 0px ;
}

.lastArt img{
    display: block;
    float: left;
    border-radius: 5px;
    padding: 7px;
    background-color: #f0f0f0;
    border: 1px solid #cfcfcf;
    margin-right: 10px;
}

.lastArt p{
    margin-left: 5px;
    font: .8em/.9rem Helvetica;
    color: #555;
}

.lastArt::after{
    content: "";
    clear: both;
    display: table;
}

footer{
    height: 183px;
    background: #333;
    border-top: 10px solid #4c4c4c;
}

footer p{
    font: .77em Helvetica;
    color: #999999;
}

footer ul li{
    font: .77em Helvetica;
    color: #999999;
    display: inline-block;
    padding-right: 3px;
    border-right: 1px solid #999999;
}

footer ul li:last-of-type{
    display: inline-block;
    border-right: 0px;
}

.left{
    display: inline-block;
}

.right{
    float: right;
}